*.log
/.env*
!/.env.example
/.php_cs.cache
/.phpunit.result.cache
/.serverless
/auth.json
/node_modules
/phpunit.xml
/public/css
/public/hot
/public/mix-manifest.json
/public/storage
/public/vendor
/storage/*.key
/vendor
