*.log
/.env*
!/.env.example
!/.env.production.example
/.idea
/.php_cs.cache
/.phpstorm.meta.php
/.phpunit.result.cache
/.serverless
/_ide_helper.php
/_ide_helper_models.php
/node_modules
/phpunit.xml
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/vendor
/storage/*.key
/vendor
